html body {
    position: relative;
}

/* navigation tool bar */
.page-container {
    width: 100%;
    height: 63px;
    padding: 20px 20px 10px 20px;
    background-color: #cb0000;
}

.page-items {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.page-items a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    padding: 2px;
}

.page-items a:hover {
    background-color: rgb(255, 143, 143);
}
/* navigation tool bar */

/* main body */
.main-body {
    background-color: black;
    height: calc(100vh - 63px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* main body */

/* main body top */
.main-body-top {
    width: calc(100vw - 7px);
    height: 60px;
    border-bottom: 0.5px solid rgb(46, 46, 46);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 4px 0px 0px 0px;

}

.main-body-top-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 500px;
    max-width: 75%;
    padding: 10px;
    height: 60px;
    background-color: #cb0000;
    border-radius: 30px;
}
/* main body top */

/* main body top items */
.main-body-top-item-1 {
    width: 55px;
    margin-left: 10px;
}
.main-body-top-item-3 {
    width: 55px;
    margin-right: 10px;
}

.sort-by-btn,
.layout-btn {
    background: none;
    padding: 0px;
    border: none;
    width: 50.15px;
}

.sort-by-items,
.layout-items {
    position: absolute;
    color: black;
    display: none;
    background-color: antiquewhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
}

.sort-by-items a,
.layout-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sort-by-btn:hover,
.layout-btn:hover {
    background-color: rgb(255, 143, 143);
    border-radius: 15px;
    width: 50.15px;
}

.main-body-top-item-1:hover .sort-by-items {
    display: block;
}

.main-body-top-item-3:hover .layout-items {
    display: block;
}

.sort-by-items a:hover,
.layout-items a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.main-body-top-item-2 {
    border: none;
    outline: none;
    height: 34px;
    width: 75%;
}

.search-bar {
    width: 100%;
    height: 34px;
    border: none;
    outline: none;
    border-radius: 10px;
}
/* main body top items */

/* main body middle */
.main-body-middle {
    width: 100%;
    height: calc(100% - 124px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-body-middle-post-container {
    width: 500px;
    max-width: 75%;
    height: 100%; 
    overflow-y: scroll;
    padding: 10px;
}
/* main body middle */

/* posts */
.posts {
    background-color: rgb(231, 224, 224);
    width: 100%;
    height: max-content;
    margin-bottom: 10px;
    border-radius: 20px;
}

.post-box-1 {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-box-2 {
    width: 100%;
    height: max-content;
    min-height: 100px;
    padding: 5px;
    border-bottom: 1px solid;
}
.post-box-3 {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.box-3-item-1 {
    width: 54px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box-1-item-1 {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
}
/* posts */

/* post box */
.main-body-last {
    width: calc(100vw - 7px);
    height: 60px;
    display: flex;
    justify-content: center;
}
.message-container {
    padding: 10px;
    width: 500px;
    max-width: 75%;
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    background-color: #cb0000;
    border-radius: 30px;
}

.message-box {
    width: 90%;
    height: 34px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 3px;
}

.post-btn {
    border: none;
    color: black;
    background: none;
}

.posts a {
    display: block;
}
/* post box */

/*myprofile*/
.myposts,
.likedposts,
.comments {
    display: flex;
    justify-content: center;
    flex: 1;
}

a {
    color: black;
    text-decoration: none;
}
/*myprofile*/


.container-2 {
    height: 100vh;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-container {
    width: 500px;
    max-width: 75%;
    height: 100%; 
    overflow-y: scroll;
    padding: 10px;
}


.comment {
    background-color: white;
    width: 100%;
    height: max-content;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-radius: 20px;
}

.comment-box-1 {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(170, 166, 166);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-box-1-item-1 {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
}
.comment-box-2 {
    width: 100%;
    height: max-content;
}