.main-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-y: scroll;
}

.container-1 {
    height: 100vh;
    width: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    height: 100vh;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* comment and post contaiens */

/* post */
.post-container {
    width: 550px;
    max-width: 75%;
    height: max-content;
    max-height: 75%; 
}

.post {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(231, 224, 224);
}

.post-box-1 {
    width: 100%;
    height: 56px;
    padding: 3px;
    border-bottom: 1px solid;
}

.post-box-2 {
    width: 100%;
    height: max-content;
    padding: 5px;
    border-bottom: 1px solid;
}

.post-box-3 {
    width: 100%;
    height: 50px;
    padding: 5px;
}

.box-3-item-1 {
    width: 54px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box-1-item-1 {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
}
/* post */

/* comments */
.comment-container {
    width: 550px;
    max-width: 75%;
    height: calc(100% - 60px);
    max-height: 75%;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    overflow-y: scroll;
}
/* comments */

/* commenter */
.comenter-container {
    width: calc(100% - 7px);
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.commenter {
    padding: 10px;
    width: 500px;
    max-width: 75%;
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    background-color: #cb0000;
    border-radius: 30px;
}

.comment-box {
    width: 90%;
    height: 34px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 3px;
}

.post-btn {
    border: none;
    color: black;
    background: none;
}

/* commenter */

/*replies*/
.comment {
    background-color: white;
    width: 100%;
    height: max-content;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.comment-box-1 {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(170, 166, 166);
    padding: 5px;

}

.comment-box-1-item-1 {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
}
.comment-box-2 {
    width: 100%;
    height: max-content;
}
/*replies*/