{% extends "layout01.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="main-top">
        <div class="main-top-container">
            <div class="main-top-items">
                <div class="item-1">
                    <button class="sort-by-btn">Sort By</button>
                    <div class="sort-by-items">
                        <form action="/view" method="post">
                            <a href="/liked">Liked</a>
                            <a href="/disliked">Disliked</a>
                        </form>
                    </div>
                </div>
                <div class="item-2">
                    <form action="/search" method="post">
                        <input class="search-bar" type="text" placeholder="Search..." name="search">
                    </form>
                </div>
                <div class="item-3">
                    <button class="sort-by-btn">Layout</button>
                    <div class="sort-by-items">
                        <form action="/view" method="post">
                            <a type="submit" name="column">Column</a>
                            <a type="submit" name="grid">Grid</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-middle">
        <div class="main-middle-container">
            <div class="main-middle-items">
                <div class="main-middle-box-1">
                    <div class="box-1-item-1">
                        <a class="Name">Name</a>
                        <a class="username">@username</a>
                    </div>
                </div>
                <div class="main-middle-box-2">
                </div>
                <div class="main-middle-box-3">
                    <div class="box-3-item-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}