{% extends "layout01.py.jinja" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}
     <div class="main-body-top">
        <div class="user-name" style="display: flex; flex-direction: row; align-items: center; padding-left: 2px;" >
            <p class="Name" style="color: black; padding: 3px 0px 3px 3px;">{{ name["name"] }}</p>
            <p class="username" style="color: black; padding: 3px 0px 3px 3px;">{{ "@" ~ name["username"] }}</p>
        </div>
        <div class="main-body-top-container">
            <div class="myposts">
                <a href="/myprofile?myprofile=myposts">My posts</a>
            </div>
            <div class="likedposts">
                <a href="/myprofile?myprofile=likedposts">Liked</a>
            </div>
            <div class="comments">
               <a href="/myprofile?myprofile=comments">Comments</a>
            </div>
        </div>
        <div class="temp" style="width: 64px;" ></div>
    </div>

    <div class="main-body-middle" id="middle-container">
        {% if post_data is defined %}
        <div class="main-body-middle-post-container">
            {% for i in post_data %}
            <div class="posts" id="post{{ i["post_id"] }}">
                <div class="post-box-1">
                    <div class="box-1-item-1">
                        <p class="Name" style="color: rgb(0, 0, 0);">{{ i["name"] }}</p>
                        <p class="username" style="color: rgb(255, 0, 0);">{{ "@" ~ i["username"] }}</p>
                    </div>
                    <div class="box-2-item-2" id="post{{ i["post_id"] }}" onclick='del(this.id)' style>
                        <svg id="post{{ i["post_id"] }}" style="display: block; width: 20px; height: 20px;" xlmns="http://www.w3.org/2000/svg" viewBox="0 0 408.483 408.483">
                            <g>
                                <path d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316
                                    H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293
                                    c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329
                                    c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355
                                    c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356
                                    c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"/>
                                <path d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916
                                    c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <a href="/viewposts?post_id={{ i["post_id"] }}" style="color: black; text-decoration: none;">
                    <div class="post-box-2" id="{{ i["post_id"] }}">
                        <p>{{ i["post"] }}</p>
                    </div>
                </a>
                <div class="post-box-3">
                    <div class="box-3-item-1">
                        <div class="like-btn" id="{{ i['post_id']}}" onclick='like(this.id)'>
                            {% if i['post_liked'] == '1' %}
                            <svg id="like{{ i["post_id"]}}" style="display: none; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                <path d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 
                                    5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 
                                    0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 
                                    12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248z"/>
                            </svg>
                            <svg id="dislike{{ i["post_id"]}}" style="display: block; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> 
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 
                                    12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                            </svg>
                            {% else %}
                            <svg id="like{{ i["post_id"]}}" style="display: block; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                <path d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 
                                    5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 
                                    0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 
                                    12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248z"/>
                            </svg>
                            <svg id="dislike{{ i["post_id"]}}" style="display: none; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> 
                                <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 
                                    12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                            </svg>
                            {% endif %}
                        </div>
                        <div class="like-count">
                            <p id="count{{ i["post_id"]}}">{{ i["likes"]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="comment-container">
            {% for j in comment_data %}
            <div class="comment">
                <div class="comment-box-1">
                    <div class="comment-box-1-item-1">
                        <p class="Name" style="color: black;">{{ name }}</p>
                        <p class="username" style="color: black;">{{ "@" ~ username }}</p>
                    </div>
                    <div class="box-2-item-2" id="cmt{{ j["comment_id"] }}" onclick='del(this.id)'>
                        <svg id="post{{ j["comment_id"] }}" style="display: block; width: 20px; height: 20px;" xlmns="http://www.w3.org/2000/svg" viewBox="0 0 408.483 408.483">
                            <g>
                                <path d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316
                                    H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293
                                    c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329
                                    c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355
                                    c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356
                                    c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"/>
                                <path d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916
                                    c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="comment-box-2">
                    <a href="/viewposts?post_id={{ j["post_id"] }}" style="color: black; text-decoration: none;">
                        <div class="comment-box-2-item-2">
                            <p class="reply" style="color: black; padding-left: 2px;">{{ j["comment"] }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}