<!DOCTYPE html>

<html land="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="initial-scale=1" width="device-width">
    
        <!-- https://getbootstrap.com/docs/5.3 --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
        <link href = "/static/styles2.css" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="main-container">
            <div class="container-1">
                <div class="post-container">
                    {% for i in post %}
                    <div class="post">
                        <div class="post-box-1">
                            <div class="box-1-item-1">
                                <p class="Name" style="color: rgb(0, 0, 0);">{{ i["name"] }}</p>
                                <p class="username" style="color: rgb(255, 0, 0);">{{ "@" ~ i["username"] }}</p>
                            </div>
                        </div>
                        <div class="post-box-2">
                            <p>{{ i["post"] }}</p>
                        </div>
                        <div class="post-box-3">
                            <div class="box-3-item-1">
                                <div class="like-btn" id="{{ i['post_id']}}" onclick='like(this.id)'>
                                    {% if count == 1 %}
                                    <svg id="like{{ i["post_id"]}}" style="display: none; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                        <path d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 
                                            5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 
                                            0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 
                                            12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248z"/>
                                    </svg>
                                    <svg id="dislike{{ i["post_id"]}}" style="display: block; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> 
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 
                                            12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                                    </svg>
                                    {% else %}
                                    <svg id="like{{ i["post_id"]}}" style="display: block; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                        <path d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 
                                            5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 
                                            0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 
                                            12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248z"/>
                                    </svg>
                                    <svg id="dislike{{ i["post_id"]}}" style="display: none; width: 30px; height: 30px;" xlmns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> 
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 
                                            12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                                    </svg>
                                    {% endif %}
                                </div>
                                <div class="like-count">
                                    <p id="count{{ i["post_id"]}}" >{{ i["likes"] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container-2">
                <div class="comment-container">
                    {% for j in reply %}
                    <div class="comment">
                        <div class="comment-box-1">
                            <div class="comment-box-1-item-1">
                                <p class="Name" style="color: black;">{{ j["name"] }}</p>
                                <p class="username" style="color: black;">{{ "@" ~ j["username"] }}</p>
                            </div>
                        </div>
                        <div class="comment-box-2">
                            <div class="comment-box-2-item-2">
                                <p class="reply" style="color: black">{{ j["comment"] }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="comenter-container">
                    <form action="/comment" method="post" class="commenter">
                        <div class="comment-box">
                            <input type="textarea" autocomplete="off" font-size="16px" class="comment-box" placeholder="Type something..." name="comment">
                        </div>
                        <div class="post-btn">
                            <button type="submit" class="post-btn" name="post_id" value="{{ i["post_id"] }}">Post</button>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>